#textAna {
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    color: #00ff35;
}
#backgroundBody {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: #0c0c0f;
}
.btn-1 {
    border: none;
    background-color: #00ff35;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #00ff35;
}
.btn-1:hover {
    color: #00ff35;
    background-color: #fff;
    border: 2px solid #00ff35;
}
.btn-2 {
    border: none;
    background-color: rgb(15, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid rgb(15, 255, 255);
}
.btn-2:hover {
    color: rgb(15, 255, 255);
    background-color: #0c0c0f;
    border: 2px solid rgb(15, 255, 255);
}
